#menusuperior{
    background-color: #303030;
    color: #FFFFFF;
    width: 1440px;
    height: 475px;
    }

*{
    margin: 0px;
    font-family: "Inter";
}

#Titulo{
    width: 1024px; height: 72px;
    padding-top: 206px;
    padding-left: 62px;
    font-weight: 600; size: 60px; line-height: 72px; letter-spacing: -2.5%;
    font-size: 50px;
}
#Subtitulo{
    width: 1024px; height: 28px;
    padding-left: 62px;
    font-weight: 500; size: 20px; line-height: 28px;
}

#infos{
    background-color: #F9F9F9;
    width: 1440px; height: 229px; top: -42px; left: -656px;
    color: #000000;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.numeros{
font-size: 30px;
font-weight: 600;
line-height: 28px;
margin-left: 75px;
margin-top: 80px;
}

.texto{
font-size: 20px;
font-weight: 400;
line-height: 28px;
margin-left: 75px;
margin-top: 80px;
}

#texto{
    width: 1440px; height: 700px;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    margin-top: 275px;
    margin-left: 50px;
    font-size: 20px;
}

#Imagem{
    width: 510px;
    height: 605px;
    margin-top: -200px;
    margin-right:  30px;
    border-radius: 0px 0px 0px 0px;   
}

#Formulario{
    text-align: center;
    background-color: #303030;
    color: #FFFFFF;
    width: 1440px; height: 550px; top: 1478px; gap: 0px; opacity: 0px;
}

#Titulo-Formulario{
    font-size: 32px;
    margin-top: -200px;
    padding-top: 75px;
}

input{
    width: 508px; height: 72px; top: 1661px; left: 466px;
    border-radius: 10px 10px 10px 10px; border: 0px;
    margin-top: 50px;
    padding-left: 20px;
    font-size: 24px;
    font-family: "Raleway";
}

button{
    width: 286px; height: 74px; top: 1955px; left: 577px;
    border-radius: 10px 10px 10px 10px;
    background-color: #C07212;
    margin-top: 70px;
    font-size: 25px; font-weight: 700; line-height: 30px; font-family: "Raleway"; 
    color: #FFFFFF;
    border: 0px;
    cursor: pointer;
}

button:hover{
    background-color: #bb7b2d;
    transform: translateY(-4px);
    box-shadow: 5px 5px 5px #ce770c4d;
    transition-duration: 0.5ms;
}


